<div class='container'>
  <div class="center-align home-page">
    <h1>Welcome to Jordan's Pokemon Index</h1>
    <h5>(of the first 151 pokemon)</h5>
    <hr />
  </div>   
 
  <div class="center-align home-page">
    <h3>I personally am more familiar with these ones considerinng I played the first 2 gameboy games to death</h3>
    <h1><%= link_to 'Go to list', pokemon_index_path %></h1> 
  </div>  
</div>

