@import 'materialize';
@import 'pokemon';

.pagination a li.active {
  color: #fff;
}

body {
  background:url("http://wallpapershacker.com/wallpaper/pokemon_black_background_hd-wallpaper-661029.jpg") center;
  background-size: 100% 100%;
  background-color: #a1887f;
}

.home-page {
  color: white;
}

.picture {
  height: 200px;
  width: 200px;
}
