@import 'materialize';
@import 'pokemon';

.pagination a li.active {
  color: #fff;
}

body {
  background:url("https://s-media-cache-ak0.pinimg.com/736x/3a/df/87/3adf87ff576287c20da8a7c77ee98977.jpg");
  background-color: #a1887f;
}

.home-page {
  color: purple;
}

.picture {
  height: 200px;
  width: 200px;
}
